.banner-innerpage{
    background: linear-gradient(to bottom, rgba(44, 165, 20, 0.8) 0%, rgba(58, 192, 46, 0.8) 100%), url("../../../assets/images/landingpage/banner-bg2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}