.title-text{
    position: absolute;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 72px;
    line-height: 154.9%;
    /* or 112px */

    display: flex;
    float: right;
    }